html{
	background-color: white;
	display: block;
	height: 100%;
	width: 100%;
}

body{
	background-color: white;
	display: inline-block;
	margin: 0px;
	height: 100%;
	width: 100%;
}

#cvs{
	float: left;
}

#amount{
	float: left;
}

#monthlyReport{
	float: left;
}

div{
	float: left;
	width: 100%;
}